!! @file: $HOME/.Xresources
!!
!! to apply, type the command,
!+
!+ xrdb -merge $HOME/.Xresources

xterm*faceName: Monospace
xterm*faceSize: 16.0
!| -^- works for larger multi-screens - too bit for laptop screen
!! -v- works for laptop screen - get two terminals across
!!!xterm*faceSize: 12.0

xterm*geometry: 80x31
xterm*saveLines: 5000
xterm*termName: xterm-color
xterm*eightBitInput: false

xterm*foreground: rgb:fa/f0/e6
xterm*background: rgb:00/00/00

xterm*color0: rgb:00/00/00
!!                      `-> black
xterm*color1: rgb:c8/32/2f
!!                      `-> red
xterm*color2: rgb:00/c8/84
!!                      `-> green
xterm*color3: rgb:cc/cc/66
!!                      `-> yellow
xterm*color4: rgb:66/99/cc
!!                      `-> blue (customizable light blue)
xterm*color5: rgb:d3/36/82
!!                      `-> magenta
xterm*color6: rgb:2a/a1/98
!!                      `-> cyan
xterm*color7: rgb:ee/e8/d5
!!                      `-> white
!! From 'man xterm | grep -A5 color7 | tail -5'
!+ > These specify the colors for the ISO-6429 extension.  The
!+ > defaults are, respectively, black, red3, green3, yellow3, a
!+ > customizable dark blue, magenta3, cyan3, and gray90.  The
!+ > default shades of color are chosen to allow the colors 8–15 to
!+ > be used as brighter versions.
!+ Basically, they are the ASCII colors 0-7

xterm*color8: rgb:80/2b/36
!!                      `-> black bold
xterm*color9: rgb:cb/4b/16
!!                      `-> red bold
xterm*color10: rgb:63/b7/6c
!!                      `-> green bold
xterm*color11: rgb:f8/d5/68
!!                      `-> yellow bold
xterm*color12: rgb:48/cc/cd
!!                      `-> blue bold
xterm*color13: rgb:6c/71/c4
!!                      `-> magenta bold
xterm*color14: rgb:93/a1/a1
!!                      `-> cyan bold
xterm*color15: rgb:fd/ff/e3
!!                      `-> white bold
!! From 'man xterm | grep -m1 -A4 color15 | tail -4'
!+ > These specify the colors for the ISO-6429 extension if the bold
!+ > attribute is also enabled.  The default resource values are
!+ > respectively, gray30, red, green, yellow, a customizable light
!+ > blue, magenta, cyan, and white.
!+ Basically, they are the ASCII colors 8-15

!! instead of unreadable bold-face text, bold makes the text bright
!+ brighter is better than fat and illegible, again from unix4life
xterm*boldMode: false

!! make bolded foreground (usually color7) go from lightgray to white
xterm*colorBDMode: true
xterm*colorBD: rgb:fc/fc/fc

!! selection to clipboard (like copy/paste); default is just to cut buffer
xterm*selectToClipboard: true

!! Make a visual flash instead of a bell sound.
!+ and further, some other nice resources found from a great resource:
!+ https://invisible-island.net/xterm/xterm.faq.html
xterm*visualBell: true
xterm*cursesemul: true
xterm*loginshell: true

!! allow changes of the title (top of window) and
!+ icon title (in taskbar or leftmost stack of icons)
!+ cf. https://stackoverflow.com/a/6526803/6505499
xterm*allowTitleOps: true
xterm*allowWindowOps: true

!! Allow Ctrl+Shift+C and Ctrl+Shift+C for copy/paste, as well as Shift+Insert
! https://invisible-island.net/xterm/manpage/xterm.html#h3-Custom-Key-Bindings
xterm*Translations: #override \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD,PRIMARY) \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD,PRIMARY) \n\
    ~Ctrl ~Meta <Btn2Up>: insert-selection(CLIPBOARD,PRIMARY)
    
